*{
    font-family: 'Poppins', sans-serif;
}

.invisible{
    background: rgba(42, 41, 49, 0.137);
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    position: absolute;
    opacity: 0;
}

.Pboite2:hover .invisible {
    opacity: 1;
  }

.bg-page{
    background-image: url(img/moi.png);
    background-size:cover;
    
    overflow-x: hidden;
    background-position: 60% 0px;
}

.nom{
display: flex;
justify-content: center;
    font-size: 4rem;
    color: aliceblue;
    animation: txt-show 1s;
}

.sousNom{
    color: aliceblue;
    display: flex;
    justify-content: center;
    margin: -4vh;
    animation: txt-show 1s;
}

.pres{
    padding-top: 200px;
}

.boite{
    justify-content: center;
    margin-top: 210px;
    background-color: rgb(33, 23, 56);
    
    display: flex;
    padding: 1vh;
    margin-inline: 30vh;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    animation: book-show 1s;
}

.Pboite1{
    display: block;
    text-align: center;
    background: whitesmoke;
    border-radius: 15px;
   padding: 3vh;
   box-sizing: border-box;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
   
}

.Pboite2{
    background: whitesmoke;
    text-align: center;
    border-radius: 15px;
    padding: 3vh;
    box-sizing: border-box;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
 }

 .compIMG{
    width: 20%;
     animation: txt-show 1500ms;
 }

 .cssIMG{
    width: 14.4%;
     animation: txt-show 1500ms;
 }

 .card{
    display: flex;
    justify-content: center;
    perspective: 1000px;
 }

 .carte1{
    text-decoration: none;
    font-weight: bold;
    color: white;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-image: url(./img/chessImg.png);
    filter:opacity(80%);
    border-radius: 10px;
    width: 250px;
    height: 400px;
    transition: all 0.8s ease-out;
 }

 .carte2{
    text-decoration: none;
    font-weight: bold;
    color: black;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background: url(./img/beps.png);
    filter:opacity(80%);
    border-radius: 10px;
    width: 250px;
    height: 400px;
    transition: all 0.8s ease-out;
 }
 img:hover  {
    transition: all 0.5s ;
    transform: scale(1.2);
    opacity: 1;
 }
 .carte3{
    text-decoration: none;
    font-weight: bold;
    color: black;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background: url(./img/bas.png);
    filter:opacity(80%);
    border-radius: 10px;
    width: 250px;
    height: 400px;
    transition: all 0.8s ease-out;
    
 }
 .Tproj{
    font-weight: bold;
    display: flex;
    justify-content: center;
    color: white;
 }

.Sproj{
    justify-content: center;
}

.card:hover{
    transform: rotateY(10deg);
    border-radius: 100px;
    transition: all 0.5s;
}
.carte1:hover{
    filter:opacity(100%);
}
.carte2:hover{
    filter: opacity(100%);
}
.carte3:hover{
    filter: opacity(100%);
}


@keyframes book-show {
    from {
      transform: rotate(-30deg) translateY(-100%);
      opacity: 0;
    }
    to {
      transform: rotate(0deg) translateY(0%);
      opacity: 1;
    }
  }

  @keyframes txt-show {
    from {
        transform:  translateY(-100%);
        opacity: 0;
    }
    to {
        
        transform: rotate(0deg) translateY(0%);
        opacity: 1;
    }
  }

@media(max-width:1200px){
    .nom{
       font-size: 150%;
    }

    .sousNom{
        margin: 0 auto;
    }
    
    .boite, .Pboite1, .Pboite2{
        flex-direction: column;
        margin: 0;
        color: black;
    }

   .card {
        flex-direction: column;
    }
    
    .carte1, .carte2, .carte3{
        margin: 0 auto ;
    }
    }


 



 
